.sticky__area{
 
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

.container__fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.nav__top{
  margin: 10px 0;
}
.left__area,.right__area{
  width: 250px;
}
.search-input {
  position: relative;
}
.search-input input {
  font-size: 1.05rem;
  opacity: 0.50;
  box-shadow: none;
  background: #a9caec;
  padding: 0 60px 0 15px;
  width: 100%;
  border: none;
  border-radius: 10px;
  line-height: 42px;
  outline: 0;
  height: 50px !important;
}

.grow {
  flex-grow: 1;
}

.search-input>button:hover {
  background: #ec2028;
}
.search-input>button {
  font-size: 1.2rem;
  width: 110px;
}
.search-input>button {
  background: #000;
  border: none;
  border-radius: 0 10px 10px 0;
  bottom: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;

  height: 50 !important;
}
.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.right-area{

}  
.gap-15 {
  gap: 15px;
}
.right {
  justify-content: flex-end;
} 
.dropdown-toggle::after {
  display: none !important;
}
.bottom__area {
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid rgba(0,0,0,.07);
  color: #222;
  font-size: 1.05em;
}
.text__nowrap {
  white-space: nowrap;
}
.bottom__area>div a {
  font-size: .95em;
}
 .bottom__area>div a span {
  font-size: .9rem;
  font-weight: 700;
  padding: 12.5px 10px;
  display: inline-block;
  text-decoration: none;
  color: #333;
}
 .bottom__area>div a span:hover {
background: #ddd;
}
/* .main-slider {
  height: 500px;
} */
.home-section {
  margin-bottom: 20px;
  margin-top: 20px;
}
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}
.carousel-indicators {
 background: #222 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image:none !important;
  color: #ec2028;
  background-color: #222;
  font-size: 25px;

}


.carousel-control-next-icon, .carousel-control-prev-icon {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border-radius: 50%;
  line-height: 1.4;
}
.carousel-indicators {
  margin-right: 30% !important;
  margin-left: 30% !important;
  border-radius: 16px !important;
}
.gap-20{
  margin: 20px 0;
}
.gradient_bg1{
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.card__header{
  display: flex;align-items: center;
  justify-content: space-between;
}.card__title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}

 a.card__link {
  background: linear-gradient(180deg,#f7f8fa,#e7e9ec);
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  height: auto;
  line-height: 1.6;
  padding: 0 14px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #333;
  display: inline-block;
}
.product__card {
  width: 207.167px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}
.product__card > img {
  margin: 15px 0;
}
.rating__review {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}
.price__discount,.topselling_price__discount {
  display: flex;
  gap: 7px;
  align-items: center;
  padding-bottom: 5px;
}
.rating {
  color: #ffa41c;
}
.review {
  display: inline-block;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  color: #555;
}
.priv__price {
  text-decoration: line-through;
  color: #aca3a3;
  font-size: 14px;
}
.current__price {
  font-size: 19px;
  font-weight: 800;
  color: #000;
}
.discount__rate {
  background: #e5e4e2;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: .75em;
  font-weight: 600;
  padding: 1px 4px;
}
.topselling__card {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #d0cfcf;
  padding: 5px 0;
}
.topselling_price__discount {
  display: flex;
  gap: 7px;
  align-items: center;
  padding-bottom: 5px;
}

.topselling_price__discount .current__price {
  font-size: 19px;
  font-weight: normal;
  color: #535252;
}